<div id="login_form">
	<%= link_to image_tag('graffle/radtrack_logo.png', :border => '0'), 'http://radtrack.com' %><br/>
  <h3 class="as_h1">Reset Your Password</h3>

	Enter your email address and instructions to reset your password will be sent to you<br />
	<br />

	<% form_tag password_resets_path do %>
	  <label>Email:</label><br />
	  <%= text_field_tag "email" %><br />
	  <br />
	  <%= submit_tag "Reset my password" %>
	<% end %>
</div>