<div id="backlog">
  <div style="margin: 0.5em 0 0.5em 0.4em;">
    Filter cards by title:&nbsp;<input type="text" name="f" value="">&nbsp;
    <span id="none" style="display:none">There were no cards to match your search</span>  
  </div>
</div>
