<div id="backlog">
  <div style="margin: 0.5em 0 0.5em 0.4em; float: left;">
	<div >
    <span style="float: left; margin-right: 10px;">Filter cards by title: </span>
	  <input type="text" name="f" value="" style="float: left;">
    <span id="none" style="display:none; float:left;">There were no cards to match your search</span>  
    
	<span style="float: left; margin-left: 20px; margin-right: 10px;">Hide cards by type: </span>
	<% @project.card_types.each do |card_type| %>
		<span class="card_type_filter_icon card_type_icon_<%= card_type.id %>" card_type_id="<%= card_type.id %>"></span>
	<% end %>
    <span id="none" style="display:none; float:left;">There were no cards to match your search</span>  
  </div>
</div>
