<div id="backlog">
  <div style="margin: 0.5em 0 0.5em 0.4em; float: left;">
    <span style="float: left; margin-right: 10px;">Filter cards by title: </span>
    <input type="text" name="f" value="" style="float: left;">
    <span id="none" style="display:none; float:left;">There were no cards to match your search</span>
    <span style="float: left; margin-left: 20px; margin-right: 10px;">Hide cards by type: </span>
    <% @project.card_types.each do |card_type| %>
      <span class="card_type_filter_icon card_type_icon_<%= card_type.id %>" card_type_id="<%= card_type.id %>"></span>
    <% end %>
    <span id="none" style="display:none; float:left;">There were no cards to match your search</span>
    <button id='backlog_reset_layout'>Reset Card Layout</button>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $('#backlog_reset_layout').click(function() {
    var cards = $('.kanban_backlog_card');
    cards.css("left", "")
    cards.css("top", "")
    $.post(
        project_board_reset_card_positions_url(project_id, 'backlog'), {
      "authenticity_token": window._auth_token
    },
        function(data, textStatus) {
        },
        "json");
  })

</script>