<div id="project_users">
	
<div class="buttons">
    <%= link_to image_tag("icons/add.png") + "Invite A New Project Member", '#', :id => 'invite_user_button', :class => 'button' %>
</div>

<% if users.empty? %>
	<div class="user"><h1>No Users for this project <h1></div>
<% else %>
   <% users.each do |u| %>
		<%= render :partial => 'users/show', :locals => {:user => u}%>
   <% end %>
<% end %>

</div>
<div id="invite_user_dialog" style="display: none;">
	<% form_for :user, :url => project_invite_user_url(@project) do |f| -%>
		<p>Enter their email address:</p>
		<%= f.text_field :email %>
		<p><input id="invite_user_submit" type="submit" value="Send Invite &rarr;"></p>
	<% end -%>
</div>

<script type="text/javascript" charset="utf-8">

	function add_team_member(user) {
		var html = "";
		html += '<div id="user_' + user.id + '" class="user project_user">';
		html += '<h1>' + user.email;
		html += '<img title="Remove this user from the project?" style="cursor: pointer; float: right;" src="/images/icons/cog_delete.png" id="project_user_'+ user.id + '" class="project_user_delete" alt="Cog_delete">';
		html += '</h1>';
		html += '</div>'
		$('#project_users').append($(html).project_user());
	}
	
	function popup_invite_user_dialog() {
		$('#invite_user_dialog').dialog({title:"Invite a Person to this Project"});
		$('#invite_user_dialog').dialog("open");
	}
	
	$(function() {
		$('#invite_user_button').click(function() {
			popup_invite_user_dialog();
		})
		
		// setup jQuery Plugin 'ajaxForm'
	    var options = {
	        dataType:  'json',
	        success: function(json) {
				$('#invite_user_dialog').dialog("close");
				add_team_member(json.user);
	        }
		};
		
		$('#invite_user_dialog form').ajaxForm(options);
	});
	
</script>