<div id="breadcrumbs">
	<% 	@text = ""
    		@breadcrumbs = []
    		@breadcrumbs << ["All Projects", projects_path]
    		@breadcrumbs << [@project.name, project_path(@project.id)] if @project
		@breadcrumbs.each do |breadcrumb| 
			@text << " >> " unless @breadcrumbs.first == breadcrumb
			@text << link_to(breadcrumb[0], breadcrumb[1])
	 	end 
	%>
	<%= @text %>	
</div>