<div id="breadcrumbs">
	<% 	 options = {:include_blank => 'All Projects'} %>
	<%=  select("project", "id", current_user.projects.all.collect {|p| [ p.name, p.id ] }, options) %>
</div>
<script type="text/javascript" charset="utf-8">
	$(function() {
		$("select#project_id").change(function() {
			var value = $(this).val()
			if (value != "") {
				window.location = project_url(value)
			} else {
				window.location = projects_url()
			}
		})
	})
</script>