<%= render :partial => 'shared/breadcrumbs' %>
<%= render :partial => 'kanban/new_card'%>

<div id="project_settings_tabs" style="float: left; width: 100%;">
	
     <ul>
         <li><a href="#members"><span>Team Members</span></a></li>
         <li><a href="#process"><span>Process</span></a></li>
     </ul>

    <div id="members">
  		<%= render :partial => 'users/index', :locals => {:users => @project.users} %>
    </div>

    <div id="process">
      <div class="swimlanes">
        <fieldset>
          <legend>Kanban Workflow</legend>
    		  <%= render :partial => 'card_states/index' %>
        </fieldset>
      </div>
  	  <div class="wip_enforcement_policy">
        <fieldset>
          <legend>WIP Enforcement Policy</legend>
          <input type="checkbox" name="enable_override" value="" id="enable_override">
          <label for="enable_override">Enable WIP Limits to be overridden</label>
          <br/>
          <input type="checkbox" name="warn_override" value="" id="warn_override">
          <label for="warn_override">Warn on Override</label>
        </fieldset>
      </div>
	  </div>
	  

</div>

<% content_for :tail_javascript do %>
<script type="text/javascript">
    $(function() {
        $('#project_settings_tabs').tabs();
    });
</script>
<% end %>
