<div id="colorbox_card">
</div>

<script type="text/javascript" charset="utf-8">
	var card_json = <%= raw @card.to_json %>
	var users_json = <%= raw @project.users.to_json %>
	$('#colorbox_card').colorbox_card({card: card_json});
</script>
